<a href="#about" id="contactMe" class="contactinfo">
    <div class="description__top absolute">
        <h2 class="description__heading">contact me</h2>
        <p class="description__text"><a href="mailto:arne@arvi.dk" class="description__link">Send me an email</a>, or call me</p>
    </div>
</a>