<section class="contactinfo">
    <div class="description__top absolute">
        <h2 class="description__heading">contact me</h2>
        <p class="description__text">Send me a mail, or call me</p>
    </div>
</section>