<footer class="footer">
    <a class="footer__text" href="mailto:arne@arvi.dk">arne@arvi.dk</a>
    <p class="footer__text">Copyright &copy; 2020 Arne Emil Buchter</p>
    <p class="footer__text">tel. +45 27 14 30 40</p>
</footer>