<section class="info">
    <div class="info__close">x</div>
    <div class="info__wrapper">
        <section class="info__box">
            <h1 class="info__mainheading">What i want to say about me and this site.</h1>
            <h2 class="info__sectionheading">How i made the site</h2>
            <p class="info__text">
                The project you are watching now is made, using gulp. The Gulpfile includes scss, babel, ejs, gulp-rename and imagemin.
                This is not the only tools I can use. I also use frameworks like React. Today I work mostly as a freelancer and you can 
                see my site, targeted to customers to come <a href="https://angry-banach-514b1a.netlify.app/" class="info__textlink">here</a>.
                Its the same template, coded using React.
                and you can find the code for this site <a href="https://github.com/ArneBuchter/portfoio" class="info__textlink">here</a>.
            </p>
            <p class="info__text">
                I have been thinking long and hard about what i wanted to show on this twin site and came to the conclusion that a simple appearence,
                whith few, but wellworking effects was better than making a glittery site with lots of bells and dancing stars. I have made sure that
                my site has good accessability for all types of devices and slow connections. e.g. using imagemin and coding resposive. 
                I choose to use ejs on this site and React on the twin even though theese are one pagers, because of the posibillity of reusing components and to show that it is
                skills I master.  
            </p>
            <p class="info__text">
                My style is build using BEM which is a great convention, because the rules can be interpreted. In my version the Block
                (the B in BEM) indicates in which stylesheet you can find the code, if you look in the src map. Also i love that all css
                is placed in classes. this way I will never have to think about Specificity. Even though I am danish, I chose to make this site in 
                english, to widen my scope. I have no problem working from home for the right remote imployer, and only come to the office once in a while.
            </p>
        </section>
        <article class="info__box">
            <h2 class="info__sectionheading">What makes me a good developer?</h2>
            <p class="info__text">
                Through my education I have become quite good at reading documentation. This means that I can learn new tools, framworks,
                cms'es, api's and what else, quite fast. This makes me very adaptable to new projects and different workflows, to a new imployer.
                <span class="info__boldtext">I love what i do.</span> To be honest I have found my inner nerd. This is what I have wanted to do the
                last twenty years. As I finaly got the opportunity, I didn't hassitate at all. This means that you will get an enthusiastic
                man who will ceep going untill he solves even the hardest task.
            </p>
            <p class="info__text">
                Before I was coding i have worked lots of different industries, which has given me a big knoledge in other industries. Even industries
                highly related to webdevelopement, such as sales, internet marketing, Microsoft customer/partner support and customer analysis.  
            </p>
        </article>
        <article class="info__box">
            <h2 class="info__sectionheading">I speak 6 languages</h2>
            <p class="info__text"><span class="info__boldtext">Danish, swedish, norwegian, english</span> and a bit<span class="info__boldtext"> german</span> and <span class="info__boldtext">french</span>.</p>
            <p class="info__text">
                My skills in the scandinavian languages are fluit or native and my english is good enough to
                make all the text in this site english. German and french is good enough to make simple conversation.
            </p>
        </article>
    </div>
</section>