<header class="header">
    <a href="#home" class="header__link"><img class="header__img" src="/assets/images/home.svg" alt={alt}></a>
    <a href="#about" class="header__link"><img class="header__img" src="/assets/images/about.svg" alt={alt}></a>
    <a href="#skills" class="header__link"><img class="header__img" src="/assets/images/services.svg" alt={alt}></a>
    <a href="#portfolio" class="header__link"><img class="header__img" src="/assets/images/portfolio.svg" alt={alt}></a>
    <a href="#about" class="header__link"><img class="header__img" src="/assets/images/contact.svg" alt={alt}></a>
</header>