<article class="mydata" id="about">
    <% include ../partials/description %>

    <div class="mydata__data">
        <figure class="mydata__img_wrapper">
            <img class="mydata__img" src="/assets/images/arne.jpg" alt="Arne Emil Buchter" srcset="">
        </figure>
        <section class="mydata__static">
            <h2 class="mydata__heading">Hi, My name is Arne Emil Buchter</h2>
            <p class="mydata__static_text">I have been working with web for more than 10 years, the last 3 have been all about programming.</p>
            <p class="mydata__static_text">I work with HTML CSS and javaScript and use alot of different tools like Node.js, gulp, ejs, babel and more.</p>
            <div class="mydata__smallinfo">
                <p>Birthday: 11 - 15 - 1977</p>
                <p>country: Denmark</p>
                <p>city: Kalundborg</p>
                <p>website: <a href="arvi.dk">https://arvi.dk</a></p>
                <p>mail: arne@arvi.dk</p>
                <p>phone: +45 27143040</p>
                <p>Study Web Developement</p>
                <p>school: RTS</p>
                <p>Title Web Developer</p>
                <p class="download-apptwo hiddentwo">Download my app</p>
            </div> 
        </section>
    </div>

</article>