<nav class="nav">
    <a href="https://angry-banach-514b1a.netlify.app/" target="blank" class="nav__logo">arvi</a>
    <ul>
        <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
        <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
        <li class="nav__item"><a href="#portfolio" class="nav__link">Portfolio</a></li>
        <li class="nav__item"><a href="#about" class="nav__link">Contact</a></li>
    </ul>
</nav>