<% include ../partials/head %>
<% include ../partials/nav %>

<main class="index-main">
    <div class="index-hero">
        <div class="index-hero_profileimg-wrapper index-hero_parralax">
            <img  class="index-hero_profileimg" src="/assets/images/arne.jpg" alt="Arne Emil Buchter" srcset="">
        </div>
        <h1 class="index-hero_heading">Arne <span class="index-hero_color">Emil</span> Buchter</h1><p class="index-hero_titel">Freelance webudvikler</p>
    </div>
</main>

<% include ../partials/after-footer %>