<% include ../partials/head %>
<% include ../partials/nav %>

<main class="index-main">
    <div class="index-hero" id="home">
        <div class="index-hero_profileimg-wrapper">
            <img  class="index-hero_profileimg" src="/assets/images/arne.jpg" alt="Arne Emil Buchter" srcset="">
            <h1 class="index-hero_heading">Arne <span class="index-hero_color">Emil</span> Buchter</h1>
            <p class="index-hero_titel">Jamstack webdeveloper</p>
            <a href="#about"><% include ../partials/scroll-down %></a>
        </div>
    </div>
    <% include ../partials/contactinfo %>
    <% include ../partials/mydata %>
    <section class="index-services" id="skills">
            <div class="description__top absolute">
                <h2 class="description__heading">Skills</h2>
                <p class="description__text">Main infomations about my skills</p>
            </div>
        <div class="index-services__wrapper">    
            <section class="index-services__skillset">
                <h2 class="index-services__heading">HTML</h2>
                <p class="index-services__text">I have more than 20 years of experience working with HTML. when I first looked up html it was a markuplanguage with less than 30 tags. Today I take pride in being strong even when it comes to semantics</p>
                <div class="index-services__rating">
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                </div>
            </section>
            <section class="index-services__skillset">
                    <h2 class="index-services__heading">CSS</h2>
                    <p class="index-services__text">I have 20 years of experience working with CSS. Today I see myself as very skilled e.g. using grid and flex, and knowing when to use what. I am at the moment improoving my skills regarding animations</p>
                    <div class="index-services__rating">
                        <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                        <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                        <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                        <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                        <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    </div>
            </section>
            <section class="index-services__skillset">
                    <h2 class="index-services__heading">javaScript</h2>
                    <p class="index-services__text">I have 2 years of experience working with javaScript. The last two years I have been tending a webdeveloper education learning javaScript. The time has been spent, getting practical experience</p>
                    <div class="index-services__rating">
                        <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                        <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                        <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                        <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                        <p class="index-services__stars index-services__stars_black">&#9733</p>
                    </div>
            </section>
            <section class="index-services__skillset">
                    <h2 class="index-services__heading">React</h2>
                    <p class="index-services__text">I have more than 20 years of experience working with HTML. when I first looked up html it was a markuplanguage with less than 30 tags. Today I take pride in being strong even when it comes to semantics</p>
                    <div class="index-services__rating">
                        <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                        <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                        <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                        <p class="index-services__stars index-services__stars_black">&#9733</p>
                        <p class="index-services__stars index-services__stars_black">&#9733</p>
                    </div>
            </section>
            <section class="index-services__skillset">
                    <h2 class="index-services__heading">Github</h2>
                    <p class="index-services__text">My Github shows my steep journey from newbie to developer Here you will find my work from my first Hello world to webshops fetching data from selfmade databases and APIs</p>
                    <div class="index-services__rating">
                        <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                        <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                        <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                        <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                        <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    </div>
            </section>
            <section class="index-services__skillset">
                    <h2 class="index-services__heading">BEM</h2>
                    <p class="index-services__text">I have been using the BEM Naming convention for about two years. Its a great way to make sure that everything has the same importance and that way making sure to style exactly what I want</p>
                    <div class="index-services__rating">
                        <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                        <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                        <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                        <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                        <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    </div>
            </section>
            <section class="index-services__skillset">
                <h2 class="index-services__heading">GULP</h2>
                <p class="index-services__text">I have more than 20 years of experience working with HTML. when I first looked up html it was a markuplanguage with less than 30 tags. Today I take pride in being strong even when it comes to semantics</p>
                <div class="index-services__rating">
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                </div>
            </section>
            <section class="index-services__skillset">
                <h2 class="index-services__heading">Contentful</h2>
                <p class="index-services__text">I have more than 20 years of experience working with HTML. when I first looked up html it was a markuplanguage with less than 30 tags. Today I take pride in being strong even when it comes to semantics</p>
                <div class="index-services__rating">
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                </div>
            </section>
            <section class="index-services__skillset">
                <h2 class="index-services__heading">GATSBY</h2>
                <p class="index-services__text">I have more than 20 years of experience working with HTML. when I first looked up html it was a markuplanguage with less than 30 tags. Today I take pride in being strong even when it comes to semantics</p>
                <div class="index-services__rating">
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                </div>
            </section>
            <section class="index-services__skillset">
                <h2 class="index-services__heading">Fetch</h2>
                <p class="index-services__text">I have more than 20 years of experience working with HTML. when I first looked up html it was a markuplanguage with less than 30 tags. Today I take pride in being strong even when it comes to semantics</p>
                <div class="index-services__rating">
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                </div>
            </section>
            <section class="index-services__skillset">
                <h2 class="index-services__heading">GraphQL</h2>
                <p class="index-services__text">I have more than 20 years of experience working with HTML. when I first looked up html it was a markuplanguage with less than 30 tags. Today I take pride in being strong even when it comes to semantics</p>
                <div class="index-services__rating">
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                    <p class="index-services__stars index-services__stars_yellow">&#9733</p>
                </div>
            </section>
        </div>
    </section>
    <section class="index-portfolio" id="portfolio">
        <div class="description__top absolute">
            <h2 class="description__heading">Portfolio</h2>
            <p class="description__text">References of my work</p>
        </div>
        <div class="index-portfolio__display">
            <a href="https://arvi.dk" target="blank" class="index-portfolio__container">
                <div class="index-portfolio__textbox_arvi">Arvi.dk</div>
                <img src="/assets/images/Udklip.JPG" class="index-portfolio__img" alt="arvi.dk" srcset="">
            </a>
            <a href="http://ubnex.dk" target="blank" class="index-portfolio__container">
                <div class="index-portfolio__textbox_ubnex">Ubnex.dk</div>
                <img src="/assets/images/ubnex.JPG" class="index-portfolio__img" alt="ubnex.dk" srcset="">
            </a>
            <a href="http://todo.as" target="blank" class="index-portfolio__container">
                <div class="index-portfolio__textbox_ubnex">TODO A/S</div>
                <img src="/assets/images/TODO.jpg" class="index-portfolio__img" alt="todo.as" srcset="">
            </a>
            <a href="https://github.com/ArneBuchter" class="index-portfolio__container">
                <div class="index-portfolio__textbox_kumite">My Github</div>
            </a>
        </div>
    </section>
    
</main>
<% include ../partials/footer %>
<script src="/assets/javaScript/slide-in.js"></script>
<% include ../partials/after-footer %>

